langchain>=0.2
langchain-anthropic
langchain-openai
chromadb
sentence-transformers
pypdf
python-docx
pyyaml
rich
pytest
pydantic
langchain-chroma
langchain-community
langchain-huggingface
einops
langchain-nvidia-ai-endpoints
python-dotenv
